label {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 4px;
}
.formField {
    margin-bottom: 12px;
}
.screenReaderText {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screenReaderText:focus {
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: palette(mono, darkest);
    display: block;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

.formLegend legend {
    font-size: 2rem;
    margin-bottom: 6px;
    color: #363a37;
}
.formLegend {
    margin-bottom: 12px;
}
.formLegend input {
    margin-left: 24px;
    margin-right: 4px;
    vertical-align: middle;
    display: inline;
}
.formLegend label {
    display: inline;
}

.optionsSection legend {
    margin-top: 12px;
    margin-bottom: 12px;
}
.optionsSection input {
    margin-left: 24px;
    display: inline;
}
.optionsSection label {
    display: inline;
}
.optionsSection {
    overflow: hidden;
    transition: max-height 0.4s linear;
}
.autoCompleteSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.autoCompleteSection > div:first-child {
    flex: 1;
    margin-right: 24px;
}
@media (max-width: 550px) {
    .optionsSection input {
        margin-left: 0;
    }
    .optionsSection label {
        font-size: 1.8rem;
    }
    .autoCompleteSection{
        display: block;
        margin-bottom: 60px;
    }
    .autoCompleteSection > div:first-child {
        margin-right: 0;
        margin-bottom: 12px;
    }
    .autoCompleteSection > div:last-child {
        text-align: right;
    }

}
