.program {
    padding: 12px 24px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

}
.col {
    flex: 1;
    flex-basis: 60%;
    margin-left: 12px;
    margin-right: 12px;
    align-self: center;

}
.col:first-child {
    flex-basis: 40%;
}

.badge {
    display: inline-block;
    position: relative;
    font-size: 0.6em;
    padding: 6px 12px;
    border-radius: 10px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    margin-left: 6px;
    margin-right: 6px;
}
.badge:first-child {
    margin-left: 0;
}
.badge:last-child {
    margin-right: 0;
}
.badgeRow {
    margin-bottom: 6px;
    text-align: right;
}
.tooltipText {
  visibility: hidden;
  display: inline-block;
  width: 160px;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: calc(100% + 8px);
  left: 50%;
  margin-left: -80px;
  padding: 12px;
}
.badge:hover .tooltipText {
    visibility: visible;
}
.tooltipText::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

@media (max-width:650px) {
    .program {
        display: block;
    }
    .col:first-child {
        text-align: center;
        margin-bottom: 12px;
    }
    .badgeRow {
        text-align: center;
    }
}