.program {
    padding: 12px 24px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

}
.col {
    flex: 1;
    flex-basis: 60%;
    margin-left: 12px;
    margin-right: 12px;
    align-self: center;

}
.col:first-child {
    flex-basis: 40%;
}

.badge {
    display: inline-block;
    font-size: 0.6em;
    padding: 6px 12px;
    border-radius: 10px;
    background-color: #555;
    color: #fff;
}
.badgeRow {
    margin-bottom: 6px;
    text-align: right;
}

@media (max-width:650px) {
    .program {
        display: block;
    }
    .col:first-child {
        text-align: center;
        margin-bottom: 12px;
    }
}